// Place all the styles related to the clashes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
th.clash_header_zerg {
    background: pink
}

th.clash_header_terran {
    background: lightgreen
}

th.clash_header_protoss {
    background: lightblue
}